includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 6
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
	paths:
		- brace.php
		- uninstall.php
		- src
	scanFiles:
		- vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
		- vendor/php-stubs/wp-cli-stubs/wp-cli-commands-stubs.php
		- vendor/php-stubs/wp-cli-stubs/wp-cli-tools-stubs.php
